@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary: #ff6600;
    --primary-dark: #cc5500;
    --transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
}

body {
    font-family: "Roboto Flex", sans-serif;
    height: 100vh;
    padding: 30px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: url('../images/intro/signupImg.jpg') center/cover;
}

header h1 {
    padding: 5px;
    font-weight: 600;
    font-size: 35px;
    background: linear-gradient(45deg, #ff6600, #cc5500);
    /* background-color: #111827; */
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    transition: var(--transition);
    letter-spacing: 1px;
    margin-bottom: 10px;
} 
 


.subtitle {
    color: #666;
    margin-bottom: 20px;
    font-size: 16px;
}

@media (max-width : 760px) {
    header h1 {
        font-size: 28px;
        margin-bottom: 5px;
    }

    .subtitle {
        margin-bottom: 10px;
    }

}


.container {
    width: 90%;
    max-width: 400px;
    height:auto;
    min-height: 300px;
    background-color: #fff;
    border-radius: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    box-shadow: 7px 7px 15px 5px rgb(0, 0, 0, 0.6);

}

.user-choice {
    height: 60%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

a {
    all: unset;
    display: block;
    width: 100%;
    display: flex;
    justify-content: center;
}

.user , .sarathi{
    height: 50px;
    width: 80%;
    margin: 7.5px 0;
    background: linear-gradient(135deg, var(--primary), var(--primary-dark));
    color: white;
    font-weight: 600;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    transition: var(--transition);
    box-shadow: 0 5px 15px rgba(255, 102, 0, 0.3);
    letter-spacing: 1px;
    overflow: hidden;
}

.user:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 25px rgba(255, 102, 0, 0.4);
    cursor: pointer;
}

.sarathi {
    background: #F0F0F0;
    color: #000;
}

.sarathi:hover {
    background-color: #0B6A50;
    color: white;
    cursor: pointer;
}

@media(max-width: 500px) {
    .container {
        width: 95%;
        padding: 15px;
        height: 50%;
        max-height: 325px;
    }

    .user, .sarathi {
        width: 90%;
    }

    .user, .sarathi {
        padding: 5px;

    }

}
